<div class="bg-inf-blue sticky-top">
  <div class="container">
    <nav class="navbar bg-inf-blue navbar-expand-lg">
      <a class="navbar-brand" href="#" (click)="cargarPaginainicio()">
        <img src="../assets/Logotipo-Informatorio.svg" class="align-top" alt="Logotipo Informatorio" height="30px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img src="assets/boton.jpg" alt="" class="boton">
      </button>
        
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">  
        <ul class="nav navbar-nav ml-auto  mt-2 mt-md-0 enlace">
           
          <li><a class="nav-item nav-link text-white" href="#" (click)="cargarInformacion()">¿Qué es el informatorio? <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-item nav-link text-white" href="#"  (click)="cargarcursos()">Cursos <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-item nav-link text-white" href="#" (click)="cargarProyectos()">Proyectos <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-item nav-link text-white" href="#" >Galería <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-item nav-link text-white" href="#"(click)="cargarpagina()">Blog <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-item nav-link text-white" href="#"  (click)="cargarformulariocontacto()">Contactanos <span class="sr-only">(current)</span></a></li>
          
          <li><a class="nav-item nav-link text-white" href="#">Iniciar Sesión</a></li>

        </ul>
      </div>  
    </nav>
  </div>
</div>