  <div class="row">
    <div class="col-12">
      <div class="card-inf my-3">
        <div class="card-header-inf bg-inf-blue text-white"><h3>Contactanos</h3></div>
        <div class="card body-inf p-3">
          <form>
            <div  class="form-group ">
              <label><h6>Nombre:</h6></label>
              <input type ="text" id="NombreyAp" class="form-control heightform" placeholder="Nombre...">
            </div>

            <div class="form-group ">
              <label for=""><h6>Correo Electrónico:</h6></label>
              <input type ="text" id="Email" class="form-control heightform" placeholder="Correo electrónico...">
            </div>

            <div class="form-group">
              <label class="" for=""><h5>Mensaje:</h5></label>
              <textarea id="messagebody" class=" form-control"> </textarea>
              <Button class="btn btn-info my-3" type="submit">Enviar</Button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
