<div class="row">
    <div class="col-12" *ngFor="let detalle of detalles">
        <div class="card-inf-gray">
            <div class="card-header-inf bg-inf-blue text-white"><h3>{{detalle.nombre}}</h3></div>
            <div class="card-body-inf">
               <div class="row">
                 <div class="col-12">{{detalle.descripcion}}</div>
                 <div class="col-12">{{detalle.inicio}}</div>
                 <div class="col-12">{{detalle.final}}</div>
                 <div class="col-12">{{detalle.dirrecion}}</div>
               </div>
           </div>
        </div>  
   </div>
</div>
              