<div class="row">
    <div class="col-2 p-0 bg-white shad-inf">
        <app-informacionsidebar></app-informacionsidebar>
    </div>
    <div class="col-10 p-0">
        <div class="card-inf my-3">
            <div class="card-header-inf bg-inf-blue  text-white">
                <h3>¿Qué es el Informatorio?</h3>
            </div>
            <div class="card-body-inf">

                <div class="row">



                    <div class="col-12">
                        <p class="lead mb-4">El Laboratorio de Informática del Chaco (Informatorio), es un centro de capacitación avanzado en
                            Informática, que funciona bajo la órbita de la Subsecretaría de Empleo y tiene como principal
                            objetivo el fortalecer la cadena de valor del software y los servicios informáticos, mejorar
                            la tecnología informática de manera transversal en productos y procesos a todas las ramas productivas,
                            fomentar y aportar de forma directa a la industria local del Software y los Servicios Informáticos
                            formando los recursos humanos para tal tarea y fomentando el uso de software local para generar
                            mayor empleo en la creciente industria tecnológica de la provincia.</p>
                    </div>

                    <div class="col-12">
                        <h5>Una iniciativa conjunta</h5>
                    </div>

                    <div class="col-12">
                        <p>El Informatorio es la síntesis del trabajo conjunto entre el Estado Provincial, la Universidad Tecnológica
                            Nacional – Facultad Regional Resistencia, la empresa de software Globant y las Empresas del Polo
                            IT del Chaco.
                        </p>
                        <p class="mb-5">Esta iniciativa es la muestra de que las políticas de Estado trascienden a los gobiernos, van más
                            allá de una gestión e implican la coordinación de las distintas fuerzas del Estado y el sector
                            privado, que desde el 2010 ha ayudado al crecimiento de a la industria del software y los servicios
                            de información de la provincia, aportando el capital humano para el crecimiento.</p>
                    </div>

                    <div class="col-12">
                        <h5>Una iniciativa que mejora el empleo chaqueño</h5>
                    </div>

                    <div class="col-12">
                        <p class="mb-5">Los primeros años de la iniciativa ha probado su efectividad en el campo. El seguimiento de los alumnos
                            después del cursado, han mostrado que en un corto periodo de tiempo los participantes de los
                            cursos consiguen trabajo en la industria del Software y los Sistemas de Información.</p>
                    </div>

                    <div class="col-12">
                        <h5>Cómo surge la iniciativa</h5>
                    </div>

                    <div class="col-12">
                        <p>El Foro de Competitividad de la Industria de Software y Servicios Informáticos (SSI) Chaco realizado
                            desde el año 2009 al 2010 identificó como uno de los principales problemas de la industria, la
                            falta de recursos humanos calificados en conocimiento técnico. Por ello la comisión de Recursos
                            Humanos del foro determinó que una de las estrategias a implementar para el desarrollo de la
                            industria sería la “Formación Recursos Humanos en Herramientas Informáticas Específicas”, estableciendo
                            que esta estrategia buscará mejorar la formación de recursos humanos en herramientas específicas
                            que utilizan las empresas con el fin de contribuir a que mejore la formación de las personas
                            que ya están empleadas en las empresas o que estas puedan incorporarse a sus planteles, acorde
                            a sus necesidades. Analizando la situación, desde el Estado Provincial se convocó a la Empresa
                            Sistemas Globales S.A. y al Polo Tecnológico Chaco, para consensuar la idea de montar el laboratorio
                            con una capacitación específica que genere recursos humanos con la capacidad de un técnico informático
                            en el plazo de un año.</p>
                        <p class="mb-5">También se decidió en esta instancia que sería deseable el dictado de otros cursos que contribuyan
                            a consolidar conocimientos de los empleados actuales de las empresas, como también de los futuros
                            empleados. Al avanzar en estas reuniones emergió que la participación de la Universidad Tecnológica
                            Nacional Facultad Regional Resistencia resultaba fundamental.</p>
                    </div>
                </div>

                <div class="card-inf-gray mb-3">
                    <div class="card-header-inf lead bg-inf-blue text-white">CONTACTO</div>
                    <div class="card-body-inf">
                        <div class="row">
                            <div class="col-6 p-0">
                                <div class="map-responsive">
                                    <iframe src="https://www.google.com/maps/d/embed?mid=1BlcGBUsiBQmvGbvaRvZ96rlXEi8" width="100%" height="450px"></iframe>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h5> Sucursal Resistencia</h5>
                                        <p>Dirección: Arturo Illia N° 1055 - Resistencia- Chaco
                                            <br> Teléfono:xxxxxxxx0000xx
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <h5>Sucursal Saenz Peña</h5>
                                        <p>Dirección: Calle Sarmiento N° 167 - Presidencia Roque Saenz Peña - Chaco
                                            <br> Teléfono:xxxxxxxx0000xx
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <h5> Sucursal Villa Ángela</h5>
                                        <p> Dirección: 25 de Mayo N° 673 - Villa Angela - Chaco
                                            <br> Teléfono:xxxxxxxx0000xx
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="col-12">
                        <h5>Entidades que participan en el Informatorio</h5>
                        <br>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <a href="http://www.frre.utn.edu.ar">
                                    <img src="http://trainingcampnea.com/wp-content/uploads/2015/06/UTN-2012.png" class="img-fluid mt-3 m-md-0" width="100%"
                                        height="100%"> </a>
                            </div>
                            <div class="col-2">
                                <a href="https://www.globant.com">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Globant-Logo.svg/1280px-Globant-Logo.svg.png" class="img-fluid mt-3 m-md-0"
                                        width="100%" height="100%">
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="http://poloitchaco.org.ar">
                                    <img src="http://argentina.campus-party.org/files/large/c703ccdebe2dd41df7d3b91f8bc8375c.png" class="img-fluid mt-3 m-md-0"
                                        width="100%" height="100%">
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="www.chaco.gov.ar/empleo">
                                    <img src="https://empleoenchaco.com.ar/images/logo_secretaria.png" class="img-fluid mt-3 m-md-0" width="100%" height="100%">
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="www.chaco.gov.ar/subsecretaria-de-empleo">
                                    <img src="https://empleoenchaco.com.ar/images/logo_empleo.png" class="img-fluid mt-3 m-md-0" width="100%" height="100%">
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="www.chaco.gov.ar/">
                                    <img src="http://www.chaco.gov.ar/uploads/layout/bed94cda50ac30e4b712abb3a79d9820.png" class="img-fluid mt-3 m-md-0" width="100%"
                                        height="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>