<div class="row mt-3">
  <div id="blog-post-inf" class="col-12 card-inf bg-inf-blue text-white mb-3 px-0" *ngFor="let post of posts">
    <div class="card-header-inf">
      <div class="row">
        <div class="col-6">
          <h6>Informatorio</h6>  
        </div>
        <div class="col-6 text-right"><small>{{post.fecha}} - {{post.hora}}</small></div>
      </div>
    </div>
    <div class="card-body-inf bg-inf-blue pt-0" >
      <div class="row">
        <div class="col-12" [innerHTML]="parseBody(post.cuerpo)">{{post.cuerpo}}</div>
        <div class="col-12  mt-3 img-responsive" *ngIf = "post.img != null"><img src="{{post.img}}" alt="" class="img-fluid img-thumbnail "></div>
      </div>
    </div>
  </div>
</div>
