



<div class="card-inf p-0 my-3" _ngcontent-c6="">

  <div class="row">

    <div class="col-6">

      <div class="lead mb-3 ml-3">
        <br>
        <strong>REGISTRARSE</strong>
      </div>

      <div class="mb-3 ml-3">
        <p>Al hacerte una cuenta podrás inscribirte a nuestros cursos, comentar en nuestro blog y mucho más</p>
      </div>

      <div class="lead mb-3 ml-3">
        <h6>Nombre</h6>
      </div>

      <div class="mb-3 ml-3">
        <input type="text" size="40" >
      </div>

      <div class="lead mb-3 ml-3">
          <h6>Apellido</h6>
      </div>

      <div class="mb-3 ml-3">
        <input type="text" size="40" >
      </div>

      <div class="lead mb-3 ml-3">
          <h6>Fecha de Nacimiento (dd/mm/aaaa)</h6>
      </div>

      <div class="mb-3 ml-3">
        
        <input type="text" size="2">/  
        <input type="text" size="2">/
        <input type="text" size="4">
        
      </div>

      <div class="lead mb-3 ml-3">
          <h6>DNI</h6>
      </div>

      <div class="mb-3 ml-3">
          <input type="text" size="40" >
      </div>

      <div class="lead mb-3 ml-3">
          <h6>Corre Electrónico</h6>
      </div>

      <div class="mb-3 ml-3">
          <input type="text" size="40" >
      </div>

      <div class="lead mb-3 ml-3">
        <h6>Contraseña</h6>
      </div>

      <div class="mb-3 ml-3">
        <input type="password" size="40">
      </div>

      <div class="lead mb-3 ml-3">
          <h6>Repetir Contraseña</h6>
      </div>

      <div class="mb-3 ml-3">
          <input type="password" size="40">
      </div>

      <a class="btn btn-inf btn-sm ml-3" href=""> REGISTRARSE</a>
      <br>
      <br>
      <br>


    </div>

    <div class="col-6"><img class="img-fluid" src="assets\logo_inicio.PNG"></div>



  </div>


</div>


