
<div class="row">
  <div class="col-6">
    <img src="assets\logo_inicio.PNG"  alt="">
  </div>

  <div class="col-6 p-0">

    <div class="card-inf-gray ml-3 mb-3">

      <div class="">

          <ngb-tabset >
              <ngb-tab  title="BLOG">
                <ng-template class="nav-item" ngbTabContent>
                 
                      <img src="assets/blog.png"  width="568px" height="484px" alt="">
                
                 
                </ng-template>
              </ngb-tab>
        
              <ngb-tab title="FACEBOOK">
                <ng-template ngbTabContent>
                    <img src="assets/face.png" width="568px" height="484px" alt="">
                </ng-template>
              </ngb-tab>
        
              <ngb-tab title="TWITTER">
                <ng-template ngbTabContent>

                    <img src="assets/twitter.PNG" width="568px" height="484px" alt="">
                </ng-template>
              </ngb-tab>
        
            </ngb-tabset>
 
      </div>
    </div>
  </div>
</div>

