
<!--
<ul *ngFor="let curso of cursos">
<li>{{curso.numcurso}}                     {{curso.Descripcion}}</li>
<button>{{curso.Inscripcion}}</button>
</ul>-->



<div class="row">
    <div class="col-12">
        <div class="card-inf">
            <div class="card-header-inf bg-inf-blue text-white">
                <h3 class="mb-4">CURSOS INFORMATORIO 2018</h3>
            </div>
            <div class="card-body-inf">
                <div class="row">
                    <div class="col-6 mb-4" *ngFor="let curso of cursos">
                        <div class="card-inf-gray">
                            <div class="card-header-inf bg-inf-blue text-white"><h3>{{curso.numcurso}}</h3></div>
                            <div class="card-body-inf">
                                <div class="row">
                                    <div class="col-12">
                                        <p>{{curso.Descripcion}}</p>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-inf>">VER MÁS</button>
                                        <button type="button" class="btn btn-inf>">INSCRIBIRME</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
