<app-navbar (mensajeDelHijo)="metodoMensajePadre($event)"></app-navbar>
<div class="container">
  <div class="row">
    
    <div class="col-12 p-0" >
      <app-informacion *ngIf="title == 'informacion'"></app-informacion>
      <app-formulario-contacto *ngIf="title == 'formulario'"></app-formulario-contacto> 
      <app-inicio *ngIf="title == 'proyectos'"></app-inicio>
      <app-pagina *ngIf="title == 'pagina'"></app-pagina>
      <cursos *ngIf="title == 'cursos'"></cursos>
      <detalles *ngIf="title == 'detalles'"></detalles>
      <app-pagina-inicio *ngIf="title == 'pagina-inicio'"></app-pagina-inicio>
    </div>
  </div>
</div>
<app-footer></app-footer>